body {
  font-family: 'EB Garamond', serif;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Shippori Mincho', serif;
  font-family: 'Uchen', serif;
  background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hero {
  background-color: #7da3b4;
  color: white;
	text-align: center;
  padding: 600px 20px;
	margin-bottom: 80px;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
  letter-spacing: 9px;
}
.hero h2 {
	color: white;
  font-size: 40px;
	font-weight: normal;
  line-height: 2;
  letter-spacing: 5px;
}
.hero a {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 4px;
  color: #688ea0;
  background-color: white;
  margin: 30px 30px;
  padding: 10px 25px;
  border-radius: 7px;
}
.hero a:hover {
  background-color:#688ea0;
  color: white;
}


img {
  height: 560px;
  width: 560px;
}
h2 {
	color: #688ea0;
  font-size: 54px;
	letter-spacing: 4px;
}
p {
  font-size: 25px;
  line-height: 1.5;
	letter-spacing: 2px;
}
.description a {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #7da3b4;
}
.description a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  font-size: 13px;
  color: #7da3b4;
  letter-spacing: 1.5px;
	padding: 10px;
}
footer a { 
  color: #7da3b4;
  text-decoration: none;
}


@media (max-width: 900px) {
	.hero {
    padding: 80px 20px;
  }
	h1 {
    font-size: 66px;
    line-height: 1.25;
  }
	.hero h2 {
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 1.5;
	}
  .hero a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #688ea0;
    background-color: white;
    margin: auto 5px;
    padding: 9px;
  }
  .description {
    text-align: center;
  }
	h2 {
		font-size: 32px;
	}
	p {
		font-size: 22px;
	}
	.description a {
		font-size: 18px;
	}
	footer {
		font-size: 12px;
	}
}
















































