body {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Playfair Display', serif;
}
nav {
  background-color: #688ea0;
  position: fixed;
}
nav a {
  text-decoration: none;
  color: #E5E5E5;
  font-size: 24px;
  letter-spacing: 2px;
}
nav a:hover {
  color: white;
}
.navlink {
  margin: auto 10px;
}
h1 {
  font-size: 88px;
  margin-top: 84px;
  margin-bottom: 30px;
  letter-spacing: 2.5px;
}
footer a:hover {
  color:#688ea0;
  text-decoration: underline;
}

.hero {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  color: #688ea0;
  letter-spacing: 1.5px;
}

.home {
  max-width: 800px;
  min-width: 520px;
  margin: 20px auto;
  padding: 0px;
  text-align: center;
  color: white;
}
.home-links a {
  background-color:white;
  color: #7da3b4;
  text-decoration: none;
  font-size: 19px;
  padding: 5px 12px;
  border-radius: 8px;
}
.home-links a:hover {
  background-color:#688ea0;
  color: white;
}
.home footer a { 
  color: white;
  text-decoration: none;
}
.home footer a:hover {
  text-decoration: underline;
}

.contact {
  background-color: #688ea0;
  border-radius: 5px;
  max-width: 530px;
}
.contact a {
  color: #E5E5E5;
}
.contact a:hover {
  color: white;
}

.icon-big {
  font-size: 70px;
}

.project-page {
  margin: 0 auto;
  height: 450px;
}
.project-link {
  text-decoration: none;
  color: #688ea0;
  margin: 20px  
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 55px;
  }
}