:root {
  --background-color: #7da3b4;
}
body {
  font-family: 'EB Garamond', serif;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Shippori Mincho', serif;
  font-family: 'Uchen', serif;
}


#homepage {
  background-color: var(--background-color);
  color:white;
  text-align: center;
}
.home h1 {
  font-size: 90px;
  letter-spacing: 9px;
  margin-bottom: 20px;
}
.home h3 {
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 70px;
}
.home a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  background-color:white;
  color: var(--background-color);
  margin: auto 20px;
  padding: 7px 18px;
  border-radius: 7px;
}
.home a:hover {
  background-color:#688ea0;
  color: white;
}
#homepage footer {
  text-align: center;
  font-size: 13px;
  color: white;
  letter-spacing: 1.5px;
	padding: 10px;
  margin-bottom: 20px;
}
#homepage footer a { 
  color: white;
  text-decoration: none;
}
#homepage footer a:hover {
  color:#688ea0;
}




.hero {
  background-color: #688ea0;
  text-align: center;
  max-width: 100%;
}
.hero a {
  text-decoration: none;
  color: #E5E5E5;
  font-size: 20px;
}
.hero a:hover {
  color: white;
}





#about {
  color: #688ea0;
}
#about h1 {
  font-size: 88px;
  text-align: center;
  letter-spacing: 1.5px;
}
.about-section {
  padding: 60px 20px;
}
.delaney {
  border-radius: 10px;
  height: 500px;
  display: flex;
  margin: 0 auto;
}
.content {
  letter-spacing: 1.5px;
}
.skills-section {
  letter-spacing: 2px;
}
.certification-section {
  max-width: 100%;
  height: auto;
  letter-spacing: 2px;
}
#about footer {
  color: #7da3b4;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.5px;
}
#about footer a {
  color: #7da3b4;
}






#projects {
  color: #688ea0;
}

#projects h1 {
  font-size: 88px;
  text-align: center;
  letter-spacing: 1.5px;
}


.landing-page {
  display: flex;
  margin: 0 auto;
  height: 500px;
}
  
 .weather-app{ 
  display: flex;
  margin: 0 auto;
  height: 500px;
}


#projects footer {
  color: #7da3b4;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.5px;
}
#projects footer a {
  color: #7da3b4;
}

.project-link {
text-decoration: none;
  color: #688ea0;
  margin: 20px  

}





#contact h1 {
  font-size: 88px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #688ea0;
}

.contact-container {
  text-align: center;
  background-color: #688ea0;
  color: #E5E5E5;
  border-radius: 6px;
  max-width: 550px;
}
.contact-container a {
  color: #E5E5E5;
}

.contact-container a:hover {
color: white;
}

.icon-big {
  font-size: 50px;
}




#contact footer {
  color: #7da3b4;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.5px;
}

#contact footer a {
  color: #7da3b4;
}



/* 

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}




@media (max-width: 900px) {
	.hero {
    padding: 80px 20px;
  }
	h1 {
    font-size: 66px;
    line-height: 1.25;
  }
	.hero h2 {
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 1.5;
	}
  .hero a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #688ea0;
    background-color: #E5E5E5;
    margin: auto 5px;
    padding: 9px;
  }
  .description {
    text-align: center;
  }
	h2 {
		font-size: 32px;
	}
	p {
		font-size: 22px;
	}
	.description a {
		font-size: 18px;
	}
	footer {
		font-size: 12px;
	}
}

 */












































